<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    Hello express

    <video src="" id="localStream" controls width="500"></video>
    <br>
    <textarea rows="3" cols="100" id="mySignal" placeholder="My Signal"></textarea>
    <br>
    <textarea id="friendSignal" placeholder="friend Signal"></textarea>
    <button id="click">Click me</button>

    <script src="bundle.js"></script>

</body>
</html>